body {
	margin: 0 auto;
	padding: 0 auto;
}
#fullScreenImageView {
	height: 100%;
	overflow: hidden;
}
@media only screen and (min-aspect-ratio:8/5) {
	#fullScreenImageView img{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-aspect-ratio:3/2) {
	#fullScreenImageView img{
		width: auto;
		height: 100%;  
	}
}
#spinningImages img {
	width: 45%;
}
#spinningImages, #topImageBlock, #bottomImageBlock {
	display: block;
	width: 100%;
}
#imageSwitchButton {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
#leftTopImage, #leftBottomImage {
	float: left;
}
#rightTopImage, #rightBottomImage {
	float: right;
}
@media screen and (max-width: 320px) {
	#imageSwitchButton {
		height: 4%;
	}
}
@media screen and (min-width: 321px) {
	#imageSwitchButton {
		height: 5%;
	}
}
@media screen and (min-width: 576px) {
	#imageSwitchButton {
		height: 7%;
	}
}
@media screen and (min-width: 768px) {
	#imageSwitchButton {
		height: 7%;
	}
}
@media screen and (min-width: 992px) {
	#imageSwitchButton {
		height: 7%;
	}
}
@media screen and (min-width: 1200px) {
	#imageSwitchButton {
		height: 16%;
	}
}
