{% load static %}
<!DOCTYPE html5>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">
		<script type="application/javascript" src="{% static 'index/js/imagespinner.js' %}"></script>
		<title>Index</title>
	</head>
	<body>
		<div id="fullScreenImageView">
			<img src="{% static 'photos/citynearosan.jpg' %}" alt="city near osan">
		</div>
		<div id="spinningImages">
			<div id="topImageBlock">
				<img
					class="spinImage"
					id="leftTopImage"
					src="{% static 'photos/citynearosan.jpg' %}"
				>
				<img
					class="spinImage"
					id="rightTopImage"
					src="{% static 'photos/roadthroughforest.jpg' %}"
				>
			</div>
			<div id="imageSwitchButton">
				<button onclick="switchImages()">Change</button>
			</div>
			<div id="bottomImageBlock">
				<img
					class="spinImage"
					id="rightBottomImage"
					src="{% static 'photos/riverthroughmountains.jpg' %}"
				>
				<img
					class="spinImage"
					id="leftBottomImage"
					src="{% static 'photos/greenskylight.jpg' %}"
				>
			</div>
		</div>
	</body>
</html>